*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
    width: 100%;
}

.carousel-inner {
    margin-top: 20px;
}

.col-xm-12 {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 33.3%;
}

.card{
    margin-top: 50px;
    margin-bottom: 20px;
}

.card-title{
    margin-bottom: 20px;
}

.btn{
    margin-top: 20px;
}

.card #img2{
    height: 270px;
}
